# Distribution / packaging
.Python
# Project asset folders
# media/
# staticfiles/
# Database
db_blog/
staticfiles/
media/
static/
*.sqlite3
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc
logfile

